/* General Styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  background-color: #ffffff;
}


.tool-container {
  max-width: 600px;
}
