/* General Styles */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  background-color: #ffffff;
}

.transit-arrivals-widget {
  max-width: 600px;
}

.transit-arrivals-widget .hidden-form {
  display: none;
}

.transit-arrivals-widget .stop-code-invalid {
  display: none;
  color: #821515;
  padding-bottom: 10px;
}

.transit-arrivals-widget .arrival-results {
  display: none;
}

.transit-arrivals-widget .arrival-results-none {
  display: none;
  margin-top: 10px;
}

.transit-arrivals-widget .arrival-results-error {
  display: none;
  margin-top: 10px;
  color: #821515;
}

.transit-arrivals-widget .arrival-results-stop,
.transit-arrivals-widget .arrival-results-stop-unknown {
  font-size: 28px;
  line-height: 1;
}

.transit-arrivals-widget .arrival-result {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.transit-arrivals-widget .arrival-results-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.transit-arrivals-widget .arrival-results-fetchtime {
  flex-shrink: 0;
  font-size: 12px;
  margin-left: 8px;
  padding: 0 0 0 15px;
  border: none;
  background-color: transparent;
  background-image: url('../img/refresh.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position-y: 1px;
}

.transit-arrivals-widget .arrival-results-fetchtime:hover {
  text-decoration: underline;
}

.transit-arrivals-widget .arrival-result-route-name {
  display: flex;
  align-items: center;
  line-height: 1;
}

.transit-arrivals-widget .arrival-result-route-direction {
  font-size: 22px;
  margin-top: 2px;
}

.transit-arrivals-widget .arrival-result-route-circle {
  margin: 5px 9px 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  flex-shrink: 0;
}

.transit-arrivals-widget .arrival-result-times {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  align-self: stretch;
}

.transit-arrivals-widget .arrival-result-time-container {
  padding: 0 5px;
  width: 76px;
  border-left: 1px solid #ddd;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.transit-arrivals-widget .arrival-result-time {
  font-size: 24px;
}

.transit-arrivals-widget .arrival-result-time-label {
  font-size: 14px;
  padding-left: 2px;
}

.transit-arrivals-widget .loader,
.transit-arrivals-widget .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.transit-arrivals-widget .loader {
  margin: 20px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(79, 79, 79, 0.2);
  border-right: 1.1em solid rgba(79, 79, 79, 0.2);
  border-bottom: 1.1em solid rgba(79, 79, 79, 0.2);
  border-left: 1.1em solid #4f4f4f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: transitArrivalsWidgetLoader 1.1s infinite linear;
  animation: transitArrivalsWidgetLoader 1.1s infinite linear;
  display: none;
}

@-webkit-keyframes transitArrivalsWidgetLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes transitArrivalsWidgetLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.autocomplete {
  background: white;
  z-index: 1000;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.autocomplete * {
  font: inherit;
}

.autocomplete > div {
  padding: 4px 4px;
}

.autocomplete .group {
  background: #eee;
}

.autocomplete > div:hover:not(.group),
.autocomplete > div.selected {
  background: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
