#real_time_arrivals.container.transit-arrivals-widget
  if config.languageCode === 'pl'
    include content/content_pl.pug
  else
    include content/content_en.pug

script.
  (function() {
    const routes = !{JSON.stringify(routes)};
    const stops = !{JSON.stringify(stops)};
    const gtfsRtTripupdatesUrl = '#{config.agency.gtfs_rt_tripupdates_url}';
    const refreshIntervalSeconds = #{config.refreshIntervalSeconds};
    setupTransitArrivalsWidget(routes, stops, gtfsRtTripupdatesUrl, refreshIntervalSeconds);
  })()
