extends layout
block content
  #real_time_arrivals.container.transit-arrivals-widget
    .card.mx-auto.my-5
      .card-body
        h2 Realtime Arrivals
        .form-group
          .btn-group.btn-group-toggle(data-toggle="buttons")  
            label.btn.btn-primary.active
              input(type="radio" name="arrival_type" value="route" checked)
              span By Route
            label.btn.btn-primary(title="Stop IDs are displayed on all bus stop signs")
              input(type="radio" name="arrival_type" value="stop_id")
              span By Stop ID
        form#route_form
          .form-group.select
            select.form-control#arrival_route(name="route")
              option(value="") Choose a route
              each route in routes
                option(value=route.route_id)= route.route_full_name
          
          .form-group.select
            select.form-control#arrival_direction(name="direction" disabled)
              option(value="") Choose a direction
          
          .form-group.select
            select.form-control#arrival_stop(name="stop" disabled)
              option(value="") Choose a stop

        form#stop_id_form.d-none
          .form-group.text
            input.form-control#arrival_stop_id(name="stop_id" placeholder="Enter a stop ID")

          .form-group
            button.btn.btn-primary.btn-block(type="submit") Get Arrivals

        #arrival_results.arrival-results
          h3 Realtime Arrivals
          .arrival-results-stop
          .arrival-results-container
