doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/timetable_styles.css")

  body
    block content
